<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kysely</title>
</head>
<body>

<h1><p style="text-align: center;">Tervetuloa kyselyyn!</p></h1>

<form action="/addKysely" method="post">

    <p style="text-align: center;">
        <span>Otsikko:</span>
        <br>
        <input type="text" name="otsikko"></input>
        <br><br>

        <p style="text-align: center;">
            <span>Kysymykset:</span>
            <br>
            <textarea name="kysymys" rows="2" cols="25" style="max-height: 40px; max-width: 200px; max-height: 2em; overflow: hidden; resize: none"></textarea>
       		
		<div style="display: flex; padding-left: 625px">
        <form th:action="@{/addKysely}" method="post">
        <button type="submit" name="lisaa">Lisää kysymys</button>
        </form>



        <input type="submit" name="laheta" value="Lähetä kysely" class="btn btn-sm btn-danger" style="margin-right: 5px; margin-left: 5px"/>
        <input type="submit" name="tallenna" value="Tallenna" class="btn btn-sm btn-danger"/>
    </p>
    </div>

</form>

</body>
</html>

</html>


