
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kysely</title>
</head>
<body>

<div style="display: flex; align-items: center; justify-content: center;">
	<h1><p style="padding-right: 50px;">Tervetuloa kyselyyn!</p></h1>
  <button onclick="window.location.href='/etusivu'" class="btn btn-sm btn-primary">Takaisin etusivulle</button>
</div>



<form th:object="${kysely}" th:action="@{/savekysely}" action="#" method="post" style="padding-left: 575px; text-align: 10px; margin-right: 10px;">

    <label for="otsikko">Otsikko:</label>
    <input type="text" id="otsikko" th:field="*{otsikko}" />

    <div style="clear: both; display: block; height: 10px;"></div>
    
    <!-- Input fields for the first Kysymys -->
    <div class="kysymys">
        <label>Kysymysteksti:</label>
        <input type="text" name="kysymysTeksti" required>
    </div>
    
    <!-- Container for additional Kysymys fields -->
    <div id="kysymyksetContainer"></div>
    <br>
 

  <div style="display: flex">   
    <!-- Button to add new question fields -->
    <button type="button" id="addQuestionButton" style="margin-right: 10px;">Lisää uusi kysymys</button>
    <br>

  <br>

    
    
    <!-- Button to save all questions and Kysely -->
    <button type="submit">Tallenna kysymykset</button>
    </div>
</form>

<ul>
    <li th:each="kysymys : ${kysymykset}" th:text="${kysymys.kysymysTeksti}"></li>
</ul>

<script>
    document.getElementById('addQuestionButton').addEventListener('click', function() {
        // Clone the template question fields
        var template = document.querySelector('.kysymys');
        var clone = template.cloneNode(true);

        // Clear input values
        var inputs = clone.querySelectorAll('input');
        inputs.forEach(function(input) {
            input.value = '';
        });

        // Append the cloned question fields to the container
        var container = document.getElementById('kysymyksetContainer');
        container.appendChild(clone);
    });
</script>


</body>
</html>

</html>

