<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kysely</title>
</head>
<body>

  
<h1><p style="text-align: center;">Tervetuloa kyselyyn!</p></h1>
		


	<p style="text-align: center;">
		<span>Otsikko:</span>
		<br>
		<input type="text"></input>
		
		
		<br><br>
		
		<p style="text-align: center;">
		<span>Kysymys/-ykset:</span>
			<br>
			
		<textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
		
		<div style="display: flex; padding-left: 625px">
        <form th:action="@{/lisaa}" method="post">
            <input type="submit" value="Lisää kysymys" class="btn btn-sm btn-danger"/>
        </form>
		<br>		<br>
		
        <form th:action="@{/laheta}" method="post">
            <input type="submit" value="Lähetä kysely" class="btn btn-sm btn-danger"/>
        </form>
        <br>		<br>
        
        <form th:action="@{/tallenna}" method="post">
            <input type="submit" value="Tallenna" class="btn btn-sm btn-danger"/>
        </form>
        </div>
	</p>

</body>
</html>


