
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monivalinnan lisäys</title>
</head>
<body>

<form action="#" th:action="@{/submit}" method="post">
        <div>
            <label>Question:</label>
            <span th:text="${question}"></span>
        </div>
        <div id="optionsContainer">
            <label>Select one answer:</label>
            <select name="selectedAnswer">
                <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
            </select>
        </div>
        <button type="button" onclick="addOption()">Add Option</button>
        <input type="submit" value="Submit">
    </form>
    
    <script>
		
	function addOption() {
    var optionsContainer = document.getElementById('optionsContainer');
    var newOptionInput = document.createElement('input');
    newOptionInput.type = 'text';
    newOptionInput.name = 'newOption';
    newOptionInput.placeholder = 'New Option';
    optionsContainer.appendChild(newOptionInput);
}
		
	</script>

</body>
</html>

</html>
