<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
   --> <title>Etusivu</title>
</head>
<body>

 <!--/* 
<h1><p style="text-align: center;">Kyselylista</p></h1>

		<table class="table table-striped">
			<tr>
				<th>Kyselyn nimi</th>
				
			</tr>
			<tr th:each="kysely : ${kyselyt}">
				<td th:text="${kysely.otsikko}"></td>
			</tr>


		</table>

	
	<p>
		<br>
		<br>
		 <div style="display: inline-block; padding-left: 720px">
        <form th:action="@{/addKysely}" method="post">
		    <input type="submit" value="Lisää kysely" class="btn btn-sm btn-danger"/>
		</form>
	
    </div>
		<br><br>
		
	
	</p>
	*/-->
	
	<h1><p style="text-align: center;">Kyselylista</p></h1>

<table class="table table-striped">
    <tr>
        <th>Kyselyn nimi</th>
    </tr>
    <tr th:each="kysely : ${kyselyt}">
        <td>
            <form th:action="@{/showKysely/{id}(id=${kysely.kyselyId})}" method="get">
                <button type="submit" th:text="${kysely.otsikko}" class="btn btn-link"></button>
            </form>
            <td>
		<a th:href="@{/poistaKysely/{kyselyId}(kyselyId=${kysely.kyselyId})}" class="btn btn-sm btn-danger">Poista</a>
      <span>|</span>
		<a th:href="@{/muokkaa/{kyselyId}(kyselyId=${kysely.kyselyId})}" class="btn btn-sm btn-danger">Muokkaa</a>
         
        </td>
    </tr>
</table>

<p>
    <br>
    <br>
    <div style="display: inline-block; padding-left: 720px">
        <form th:action="@{/addKysely}" method="post">
            <input type="submit" value="Lisää kysely" class="btn btn-sm btn-success"/>
        </form>
    </div>
    <br><br>
</p>

</body>
</html>

