<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kysely</title>
</head>
<body>

  
<h1><p style="text-align: center;">Tervetuloa kyselyyn!</p></h1>
		


	<p style="text-align: center;">
		<span>Kysmys:</span>
		<br>
		<input type="text"></input>
		
		 <div style="display: inline-block; padding-left: 740px">
        <form th:action="@{/kyssari}" method="post">
            <input type="submit" value="Kysy" class="btn btn-sm btn-danger"/>
        </form>
    </div>
		<br><br>
		
		<p style="text-align: center;">
		<span>Vastaus:</span>
			<br>
			
		<textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
		
		 <div style="display: inline-block; padding-left: 740px">
        <form th:action="@{/vastaus}" method="post">
            <input type="submit" value="Vastaa" class="btn btn-sm btn-danger"/>
        </form>
	</p>

</body>
</html>


